/* 
Breakpoints:
Mobile:        0 – 639px
Large Mobile:  640px – 767px
Tablet:        768px – 1023px
Laptop:        1024px – 1279px
Desktop:       1280px – 1535px
Large Desktop: 1536px+
 */



h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-sans);
	font-weight: 400;
}

h1 {
	font-size: var(--fs-h1);
}

h2 {
	font-size: var(--fs-h2);
}

h3 {
	font-size: var(--fs-h3);
}

h4 {
	font-size: var(--fs-h4);
}

h5 {
	font-size: var(--fs-h5);
}

h6 {
	font-size: var(--fs-h6);
}

p {
	font-size: var(--fs-p);
	line-height: var(--line-height-p);
}

/* center content and add side padding */
.zy-container {
	max-width: var(--container-width);
	margin: auto;
	padding-inline: var(--container-padding);
}

/* vertical spacing for sections */
.zy-section {
	padding-block: var(--zyra-section-y);
}

:root {
	--container-width: 100%;
	--container-padding: 16px;

	--fs-p: 14px;
	--line-height-p: 22px;
	--fs-h1: 28px;
	--fs-h2: 24px;
	--fs-h3: 20px;
	--fs-h4: 18px;
	--fs-h5: 16px;
	--fs-h6: 14px;
}

/* large phones */
@media (min-width: 640px) {
	:root {
		--container-width: 640px;
		--container-padding: 20px;
	}
}

/* tablets */
@media (min-width: 768px) {
	:root {
		--container-width: 768px;
		--container-padding: 24px;

		--fs-p: 15px;
		--line-height-p: 24px;
		--fs-h1: 32px;
		--fs-h2: 28px;
		--fs-h3: 24px;
		--fs-h4: 20px;
		--fs-h5: 18px;
		--fs-h6: 16px;
	}

	.zy-section {
		padding-block: var(--zyra-section-y-sm);
	}
}


a {
	color: var(--zyra-secondary);
	text-decoration: none;
}

/* small laptops */
@media (min-width: 1024px) {
	:root {
		--container-width: 1024px;
		--container-padding: 32px;

		--fs-p: 16px;
		--line-height-p: 28px;
		--fs-h1: 40px;
		--fs-h2: 32px;
		--fs-h3: 22px;
		--fs-h4: 20px;
		--fs-h5: 18px;
		--fs-h6: 16px;
	}
}

/* desktops */
@media (min-width: 1280px) {
	:root {
		--container-width: 1280px;
		--container-padding: 32px;
	}
}

/* large screens / 4K */
@media (min-width: 1536px) {
	:root {
		--container-width: 1280px;
	}
}