@use './markdown-style';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--font-sans);
}

html,
body,
app-root {
	height: 100%;
}

body {
	background: var(--zyra-background);
	color: var(--zyra-foreground);
}