:host {
	color: var(--text-primary);
	background: var(--card);
	backdrop-filter: blur(10px);
	border-radius: 1rem;
	border: 1px solid var(--border-color);
	overflow: hidden;
	transition: var(--border-color) 0.3s ease;
	cursor: pointer;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);

	&:hover {
		border-color: var(--primary-color-active);

		.post-image img {
			transform: scale(1.05);
		}
	}

	.post-image {
		position: relative;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
			/* Maintain aspect ratio */
			object-fit: cover;
			transition: transform 0.3s ease;
		}
	}

	.post-content {
		padding: 1.5rem;

		.post-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 16px;


		}

		.post-title {
			color: var(--foreground);
			font-size: var(--font-size-base);
			margin-bottom: 0.75rem;
			transition: color 0.3s ease;
		}

		.post-excerpt {
			color: var(--text-secondary);
			margin-bottom: 1rem;
			font-size: var(--font-size-xsm);
			line-height: 20px !important;
		}

		.post-footer {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.read-more {
				color: var(--primary-color-active);
				font-size: var(--font-size-xsm);
				background: none;
				border: none;
				cursor: pointer;
			}

			.read-more:hover {
				text-decoration: underline;
			}
		}
	}


	.icon,
	.date,
	.read-time {
		font-size: var(--font-size-date-time);
		color: var(--text-muted)
	}

	.post-title:hover {
		color: var(--secondary-color);
	}

	a {
		text-decoration: none;
	}

}