:host {
	background-color: var(--zyra-card);
	backdrop-filter: blur(10px);
	border-radius: 1rem;
	border: 1px solid var(--border);
	overflow: hidden;
	transition: var(--border) 0.3s ease;
	cursor: pointer;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
	
	&:hover {
		border: 1px solid var(--zyra-text-heading-secondary);

		.post-image img {
			transform: scale(1.05);
		}
	}

	.post-image {
		position: relative;
		overflow: hidden;

		img {
			width: 100%;
			height: auto;
			/* Maintain aspect ratio */
			object-fit: cover;
			transition: transform 0.3s ease;
		}
	}

	.post-content {
		padding: 1.5rem;

		.post-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 16px;
		}

		.post-title {
			color: var(--zyra-text-heading);
			font-size: var(--font-size-sm);
			margin-bottom: 0.75rem;
			transition: color 0.3s ease;
		}

		.post-excerpt {
			color: var(--zyra-text-gray);
			margin-bottom: 1rem;
			font-size: var(--font-size-xsm);
			line-height: 20px !important;
		}

		.post-footer {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.read-more {
				background: none;
				border: none;
				cursor: pointer;
			}

			.read-more:hover {
				text-decoration: underline;
			}
		}
	}

	.read-more {
		font-size: var(--font-size-date-time);
		color: var(--zyra-secondary);
	}

	.icon,
	.date,
	.read-time {
		font-size: var(--font-size-date-time);
		color: var(--zyra-text-gray)
	}

	.post-title:hover {
		color: var(--zyra-text-heading-secondary) !important;
	}

	a {
		text-decoration: none;
		color: var(--zyra-card-foreground) !important;

	}

}