<div class="zy-logo" routerLink="/">
	<!-- <img class="zy-logo__img" src="favicon3.png" alt="Zyra UI logo" /> -->
	<span class="zy-logo__text">ZyraUI</span>
</div>

<nav class="zy-nav">
	<!-- <a routerLink="/blog-page" routerLinkActive="is-active" class="zy-nav__item">Blog</a> -->
	<a routerLink="/comp" routerLinkActive="is-active" class="zy-nav__item">Components</a>
	<a routerLink="/docs" routerLinkActive="is-active" class="zy-nav__item">Docs</a>
	<!-- <a routerLink="/" routerLinkActive="is-active" class="zy-nav__item">Home</a> -->
	<!-- <a routerLink="/templates" routerLinkActive="is-active" class="zy-nav__item">Templates</a> -->
	<!-- <a aria-label="GitHub" href="https://github.com/ramajonnada" class=" zy-nav__item">
		<i class="fa-brands fa-github"></i>
	</a> -->
</nav>

<div class="zy-toolbar__right">
	<zyra-button [variant]="'gradient'" [size]="'sm'">Get Started</zyra-button>
	<zyra-button [variant]="'ghost'" [size]="'sm'">Get Started</zyra-button>

</div>