.app-shell {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: var(--zyra-color-bg-app);
	// background: red;
}

.app-body {
	display: flex;
	flex: 1;
	align-items: stretch;
	margin-top: 48px;
	height: calc(100dvh - 48px);
	min-height: 0;
}

.app-body > app-main {
	min-height: 0;
	overflow-y: auto;
}

.app-body--landing {
	display: block;
	height: auto;
}

@media (max-width: 900px) {
	.app-body {
		flex-direction: column;
		height: auto;
	}
}